@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?30u90q');
  src:  url('fonts/icomoon.eot?30u90q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?30u90q') format('truetype'),
    url('fonts/icomoon.woff?30u90q') format('woff'),
    url('fonts/icomoon.svg?30u90q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin-user:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e90e";
}
.icon-pin:before {
  content: "\e901";
}
.icon-add-circle-outline:before {
  content: "\e906";
}
.icon-block:before {
  content: "\e907";
}
.icon-remove-circle:before {
  content: "\e908";
}
.icon-remove-circle-outline:before {
  content: "\e909";
}
.icon-gps-fixed:before {
  content: "\e90a";
}
.icon-gps-not-fixed:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e900";
}
.icon-adjust:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e904";
}
.icon-info-outline:before {
  content: "\e905";
}
.icon-filter:before {
  content: "\e90d";
}
