// fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

// icons font
@import '../icons/style.scss';

// bootstrap
// @import '~bootstrap/scss/bootstrap';

// Import CoreUI styles
@import '~@coreui/coreui/scss/coreui.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: 100%;
  font-size: 14px;
  color: #5b5b5b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: auto;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  outline: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik, sans-serif;
}

textarea {
  resize: none;
}

.modal {
  &-sm {
    max-width: 400px;
  }
  &-lg {
    max-width: 600px;
  }
}

.pac-container {
  z-index: 1100 !important;
}

.c-app {
  // background-color: #ebedef;
}
:root {
  --primary: #321fdb;
  --secondary: #ced2d8;
  --success: #2eb85c;
  --info: #39f;
  --warning: #f9b115;
  --danger: #e55353;
  --light: #ebedef;
  --dark: #636f83;
}
