$colorWhite: #fff;
$colorBlack: #000;
$colorText: #5b5b5b;
$colorBorder: #d1d2d4;
$colorDarkBorder: #afafaf;
$colorLightBorder: #f2f2f2;
$colorDarkGrey: #333;
$colorRed: #cc2626;
$colorBlue: #3d56b2;
$colorDarkBlue: #0b5ed7;
$colorOrange: #f1573b;
